﻿
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Header-->
<section class="page-header compare_page">

    <div class="container">

        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Search Result</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Search Result</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<!--Listing-->
<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="search_compare_btn text-right" style="padding-right:40px;"><a href="DealerCar/Compare" class="btn">Compare</a></div>
            <!--Listing-->
            @{Html.RenderAction("CarListing", "Shared", new { IsDealerSearch = false });}
            <!-- Listing-->
            <!--Left Side Bar-->
            @{Html.RenderAction("SearchLeftFilter", "Search"); }
            <!--Left Side Bar-->
        </div>
    </div>
</section>
<!-- /Listing-->
