﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Dealear Inventory Network</title>
    @Styles.Render("~/Content/TrialCarscss")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link href="~/Assets/images/favicon-icon/logo.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Fav and touch icons -->
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon-icon/apple-touch-icon-114-precomposed.html">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">*@
    <!-- Google-Font-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--/Thankyou Form -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/TrialCarsScripts")
    @Scripts.Render("~/bundles/TrialCarsCustomScripts")

    @Scripts.Render("~/Assets/Scripts/jquery.signalR-2.4.0.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Assets/Scripts/knockout-2.2.0.js")
    @Scripts.Render("~/Assets/Trialcars/js/chat.js")

    @RenderSection("scripts", required: false)
</head>
<body>
    @{
        var userDetail = HttpContext.Current.User;
    }
    <!--Header-->
    <header>
        <div class="default-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="logo" style="
                                 margin-top: 10px;margin-bottom: 5px;margin-left: -90px;">
                        <a href="/"><img src="/assets/images/DINTextBlue.png" alt="image" style="width: 266px;" /></a> </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="header_info" style="margin-top: 20px;">
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">For Support Mail us : </p>
                                <a href="mailto:Support@dealerinventorynetwork.com.com">Support@dealerinventorynetwork.com</a>
                            </div>
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">Service Helpline Call Us: </p>
                                <a href="tel:+17177992505">+1-717-799-2505</a>
                            </div>

                            @if (!Request.IsAuthenticated)
                            {
                                <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                            }
                            else
                            {
                                <div class="social-follow">
                                    <ul>
                                        <li><a href="https://www.facebook.com/pg/DealerInventoryNetwork/photos/?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.linkedin.com/company/dealer-inventory-network/about/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/dealerinventorynetwork/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="header_wrap">
                    @if (Request.IsAuthenticated)
                    {
                        string UserName = string.Empty;
                        if (userDetail != null)
                        {
                            UserName = userDetail.Identity.Name;
                        }
                    <div class="user_login">
                        <ul>
                            <li>
                                <div><button class="header_msg" type="button"><a href="/Dealer/Messages"><i class="fa fa-envelope" aria-hidden="true"></i></a></button></div>
                            </li>
                        </ul>
                        <ul>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> @UserName <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/mygarage">My Garage</a>
                                    </li>
                                    <li>
                                        <a href="/mysoldcar">Sold Car</a>
                                    </li>

                                    <li><a href="/Account/UpdateSettings">My Setting</a></li>
                                    <li><a href="/Account/UpdateProfile">My Profile</a></li>
                                    <li><a href="/DealerCar/Compare">Compare Car</a></li>
                                    <!--<li><a href="/Account/UpdatePassword">Update Password</a></li>
                    <li><a href="/Dealer/Messages">Messages</a></li>-->
                                    <li><a href="/Account/Logout">Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    }
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                            @*<ul class="dropdown-menu">
                <li><a href="#">Home Page 1</a></li>
                <li><a href="#">Home Page 2</a></li>
            </ul>*@
                        </li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation end -->

    </header>
    <!-- /Header -->

    @RenderBody()

    <!--Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h6>Top Categores</h6>
                        <ul>
                            <li><a href="#">Crossovers</a></li>
                            <li><a href="#">Hybrids</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Hybrid SUVs</a></li>
                            <li><a href="#">Concept Vehicles</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>About Us</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Trademarks</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Request a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Subscribe Newsletter</h6>
                        <div class="newsletter-form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                                </div>
                                <button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </form>
                            <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users very week.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 text-right">
                        <div class="footer_widget">
                            <p>Connect with Us:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <p class="copy-right">Copyright &copy; 2019 DealerInventoryNetwork. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer-->
    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->
    @if (!Request.IsAuthenticated)
    {
        <!--Login-Form -->
        @Html.Partial("~/Views/Account/Login.cshtml")
        <!--/Login-Form -->
        <!--Register-Form -->

        Html.RenderAction("Register", "Account");
        <!--/Register-Form -->

        <!--Forgot-password-Form -->

        @Html.Partial("~/Views/Account/ForgotPassword.cshtml")
        <!--/Forgot-password-Form -->
    }


    <!--Reset-password-Form -->
    <div id="dvresetpassword"></div>

    @if (!string.IsNullOrWhiteSpace(Request.QueryString["uid"]))
    {
        Html.RenderAction("ResetPassword", "Account");
        <script type="text/javascript">
            $(document).ready(function () {
                $("#resetpassword").modal("show");
            });
        </script>
    }
    <!--/Reset-password-Form -->
    <!--Thankyou Form -->
    <div class="modal fade" id="Thankyou">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Thank You</h3>
                </div>
                <div class="modal-body" id="Thankyoubody">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ajax-loader">
        <img src="/Assets/images/loader.gif" class="img-responsive" />
    </div>
</body>
</html>

@Scripts.Render("~/bundles/ModelPopUpScripts")
@if (ViewBag.Login != null && ViewBag.Login == false)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginform').modal('show');
        });
    </script>
}