﻿﻿@using Incite.Core.Domain
@model  List<AppUsers>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/AdminUserScripts")
<section class="content-header">
    <h1>
        Manage Users
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Manage Users</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div id="dvdismiss" class="alert alert-info dvdismiss" style="display:none;"></div>
                </div>
                <div class="box-body">
                    
                    <table class="table table-bordered table-hover dataTable">
                        <tr>
                            <th>User Name</th>
                            <th>License Number</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>IsActive</th>
                            <th>IsLocked</th>
                        </tr>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Id.GetUserProfileByUserId().LicenseNumber</td>
                                    <td>@(item.UserProfile != null ? item.UserProfile.MobileNumber : string.Empty)</td>
                                    <td>@item.Email</td>
                                    <td>
                                        @{
                                            var isActive = item.IsActive == true ? 1 : 0;
                                            var isLockout = item.IsLockout == true ? 1 : 0;
                                        }
                                        <label class="switch">
                                            <input type="checkbox" checked=@item.IsActive onclick="UpdateUserStatus('@item.UserGuid', '@isActive')">
                                            <span class="slider"></span>
                                        </label>
                                        @*<input type="checkbox" checked data-toggle="toggle" data-size="large">*@
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" checked=@item.IsLockout onclick="UpdateUserLockoutStatus('@item.UserGuid', '@isLockout')">
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                </tr>
                            }
                        }
                        @*@{Html.RenderPartial("_ListPaging", Model);}*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>