﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    @if (ViewBag.Status == true)
    {
        <p>
            Thank you for confirming your email. Please <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Click here to login</a>
            @*@Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        </p>
    }
    else
    {
        <p>
            Email Confirmation Failed.
        </p>
    }
</div>
