﻿@using Incite.Services.ViewModels
@model ForgotPasswordViewModel


@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }*@


<div class="modal fade" id="forgotpassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Password Recovery</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="forgotpassword_wrap">
                        <div class="col-md-12">
                            <div id="dvForgotMsg" class="alert alert-info dvdismiss" style="display:block;">
                            </div>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "frmForgotPassword" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.FEmailAddress, new { @class = "form-control", placeholder = "Your Email address*" })
                                        @Html.ValidationMessageFor(m => m.FEmailAddress, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="button" value="Submit" class="btn btn-block" id="btnForgotPassword">
                                    </div>
                                </div>
                            }
                            <div class="text-center">
                                <p class="gray_text ">For security reasons we don't store your password. Your password will be reset and a new one will be send.</p>
                                <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>