﻿@using Incite.Services.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="modal fade" id="loginform">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" height: 400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-6">
                            <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none; margin-top:-40px">
                            </div>
                            @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST" }, new { id = "frmLogin" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address*", @class = "form-control", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.LoginPassword, new { placeholder = "Password*", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LoginPassword, string.Empty, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="login" value="Login" id="btnLogin" class="btn btn-block">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>
                    Don't have an account?
                    <a href="#signupform" data-toggle="modal" data-target="#signupform" data-dismiss="modal">Signup here</a>
                </p>
                <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal" data-target="#forgotpassword">Forgot password ?</a></p>
            </div>
        </div>
    </div>
</div>

