﻿@using Incite.Services.ViewModels
@using System.Web.Configuration
@model RegisterViewModel
@{
    ViewBag.Title = "Log in";
}
@*Styles.Render("~/Assets/tooltip/css/bootstrap.min.css")*@
@*Styles.Render("~/Assets/tooltip/scss/style.scss")*@
@Styles.Render("~/Assets/tooltip/css/icon.css")
@Styles.Render("~/Assets/tooltip/css/style.css")
@*Scripts.Render("~/Assets/tooltip/js/jquery-3.2.1.slim.min.js")*@
@Scripts.Render("~/Assets/tooltip/js/popper.min.js")
@*Scripts.Render("~/Assets/tooltip/js/bootstrap.min.js")*@
<div class="modal fade" id="signupform" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Sign Up</h3>
            </div>
            <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none; margin-bottom:1px">
            </div>
            <div class="modal-body" style="overflow-y:auto;max-height:450px;">
                <div class="signup_wrap">
                    <div class="col-md-12 col-sm-6">
                        @*@using (Ajax.BeginForm("Register", "Account", new AjaxOptions { HttpMethod = "POST" }, new { id = "frmSignUp" }))*@
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "frmSignUp" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.DealershipName, new { placeholder = "Dealership Name*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DealershipName, string.Empty, new { @class = "text-danger" })
                                    </div>                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.AdminName, new { placeholder = "Admin Name*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AdminName, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.LicenseNumber, new { placeholder = "License Number", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.LicenseNumber, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-2" style="float: right; margin-top: -20px">
                                        <!-- button popover  -->
                                        <div class="popover-block-container">

                                            <button tabindex="0" type="button" class="popover-icon" data-popover-content="#unique-id" data-toggle="popover" data-placement="left">
                                                <i class="material-icons">contact_support</i>
                                            </button>
                                            <div id="unique-id" style="display:none;">
                                                <div class="popover-body" style="margin-right:50px;">
                                                    A valid Dealer License Required for manual verification.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="border: none;"><span>+ 1</span></span>
                                            @Html.TextBoxFor(m => m.MobileNumber, new { placeholder = "Mobile Number*", @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.MobileNumber, string.Empty, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="border: none;"><span>+ 1</span></span>

                                            @Html.TextBoxFor(m => m.AdditionalMobileNumber, new { placeholder = "Additional Mobile Number", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.EmailAddress, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.AdditionalEmailAdress, new { placeholder = "Additional Email Adress", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AdditionalEmailAdress, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.TextAreaFor(m => m.DealershipAddressLine1, new { placeholder = "Dealership AddressLine1*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DealershipAddressLine1, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextAreaFor(m => m.DealershipAddressLine2, new { placeholder = "Dealership AddressLine2", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => m.ZIPCODE, new { @placeholder = "Zip*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ZIPCODE, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.DropDownListFor(m => m.State
                                                ,Model.StateList
                                                , new { @id = "drpstate", @class = "form-control", @placeholder = "State" })
                                        @Html.ValidationMessageFor(x => x.State, string.Empty, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => m.City, new { placeholder = "City*", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.City, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p style="font-weight: bold;">Upload Profile Picture</p>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.UploadProfilePicture, new { type = "file", @class = "", @id = "uploadFile", @style = "", @readonly = "readonly", @placeholder = "no files selected" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="g-recaptcha" id="recaptcha" data-sitekey="@WebConfigurationManager.AppSettings["CapthaKey"]"></div>
                                <span class="text-danger field-validation-error" id="validationRecaptcha" style="display:none"><span class="">Please complete CAPTCHA</span></span>
                            </div>


                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="TermsAccepted" name="TermsAccepted" />
                                    I Agree with<a href="#"> Terms and Conditions</a>
                                </label>
                                <br />
                                <span class="text-danger field-validation-error" id="validationTermCondition" style="display:none;"><span class="">Please accept terms and condition</span></span>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Sign Up" name="signup" id="btnSubmit" class="btn btn-block">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>Already got an account? <a href="#loginform" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/tooltip/js/index.js")
