﻿@using Incite.Services.ViewModels
@model ResetPasswordViewModel

@*  @{
        ViewBag.Title = "Reset password";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<div class="modal fade" id="resetpassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Reset Password</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="resetpassword_wrap">
                        <div class="col-md-12">
                            <div id="dvResetMsg" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "frmResetPassword" }))
                                {*@

                            <form id="frmResetPassword">
                                @Html.AntiForgeryToken()

                                <div class="form-group row">
                                    @Html.HiddenFor(m => m.uid)
                                    <div class="col-sm-12">
                                        @Html.PasswordFor(m => m.RPassword, new { @class = "form-control", placeholder = "Password*" })
                                        @Html.ValidationMessageFor(m => m.RPassword, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @Html.PasswordFor(m => m.RConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword*" })
                                        @Html.ValidationMessageFor(m => m.RConfirmPassword, string.Empty, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="button" value="Submit" class="btn btn-block" id="btnResetPassword">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
