﻿@using Incite.Services.ViewModels
@model UpdatePasswordViewModel
@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<section class="page-header profile_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>Update Password</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Update Password</li>
                </ul>
            </div>
        </div>
         Dark Overlay
        <div class="dark-overlay"></div>
    </section>*@
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #00a8d9;">
                <h4 style="color: white;">Update Password</h4>
            </div>

            <div class="panel-body" ng-app="">
                <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none;">
                </div>
                @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { id = "frmUpdatePassword" }))
                {

                    <div class="form-group">
                        <label><b>Old Password</b></label>
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(x => x.OldPassword, string.Empty, new { @class = "text-danger" })
                        @*<input style="background-color: white;border: 1px solid darkgray" type="password" id="password" class="form-control" name="password">*@
                    </div>

                    <div class="form-group">
                        <label><b>New Password</b></label>
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(x => x.NewPassword, string.Empty, new { @class = "text-danger" })
                        @*<input style="background-color: white;border: 1px solid darkgray" type="password" id="newpassword" class="form-control" name="newpassword" required="">*@
                    </div>

                    <div class="form-group">
                        <label><b>Confirm Password</b></label>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                        @*<input style="background-color: white;border: 1px solid darkgray" type="password" id="confirmpassword" class="form-control" name="confirmpassword" required="">*@
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn btn-success" name="update" value="Update" id="btnUpdatePassword" />
                            <input type="button" class="btn btn-danger" id="btnResetUpdatePassword" value="Cancel" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>

