﻿@using Incite.Services.ViewModels
@model UserProfileViewModel
@{
    ViewBag.Title = "Dealer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Header-->
<section class="page-header compare_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Update My Profile</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Update My Profile</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<section class="user_profile inner_pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="result-sorting-wrapper">
                    <div class="row form-group">
                        <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
                            <div class="page-wrapper">
                                <div id="dvRegisterMsg" class="alert alert-info dvdismiss" style="display:none;">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { id = "frmUserProfile", enctype = "multipart/form-data" }))
                                        {
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            @Html.AntiForgeryToken()
                                            <div class="card">
                                                <div class="card-body">
                                                    <center class="m-t-30">
                                                        <div class="upload_user_logo margin-btm-20">
                                                            @if (!string.IsNullOrWhiteSpace(Model.ProfileThmbnailImage))
                                                                {
                                                                    if (System.IO.File.Exists(System.Web.HttpContext.Current.Server.MapPath(@Model.ProfileThmbnailImage)))
                                                                    {
                                                            <img src="@Url.Content(Model.ProfileThmbnailImage)" class="img-responsive" id="profileimg" alt="Image">
                                                                    }
                                                                    else
                                                                    {
                                                            <img src="@Url.Content("/Assets/images/dealer-logo.jpg")" class="img-responsive" id="profileimg" alt="image">
                                                                    }

                                                                }
                                                                else
                                                                {
                                                            <img src="@Url.Content("/Assets/images/dealer-logo.jpg")" class="img-responsive" id="profileimg" alt="image">

                                                                }
                                                            <div id="uploadnewlogo" class="upload_newlogo" style="display:none;">
                                                                @*<input id="ProfileThmbnailImage" name="ProfileThmbnailImage" type="file">*@
                                                                @Html.TextBoxFor(m => m.UploadProfilePicture, new { type = "file", onchange = "readImageURL(this);" })
                                                            </div>
                                                        </div>
                                                        <h4 class="card-title m-t-10">Trial Dealership</h4>
                                                        <h6 class="card-subtitle" id="lblAdminName">@Model.AdminName</h6>



                                                        <div class="row text-center justify-content-md-center">
                                                            <div class="col-4">
                                                            </div>
                                                        </div>
                                                    </center>
                                                </div>
                                                <div>
                                                    <hr>
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-muted">Email address </small>
                                                    <h6 id="lblEmail">@Model.User.Email</h6>
                                                    <small class="text-muted p-t-30 db">Phone</small>
                                                    <h6 id="lblPhone">@Model.MobileNumber</h6>
                                                    <small class="text-muted p-t-30 db">Address</small>
                                                    <h6>
                                                        <label id="lblAddressline1">@Model.DealershipAddressLine1</label>,
                                                        <label id="lblAddressline2">@Model.DealershipAddressLine2</label>
                                                    </h6>
                                                    <a href="/Account/UpdatePassword"><input type="button" class="btn btn-danger" id="btnResetUpdateProfile" value="Update Password" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-xlg-9 col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    @*<form class="form-horizontal form-material" method="POST" enctype="multipart/form-data">*@
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Admin Name</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.AdminName, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.AdminName, string.Empty, new { @class = "text-danger" })
                                                                    @*<input type="text" style="background-color: white;" value="" class="form-control form-control-line" name="example-email" id="fname">*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Email</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control form-control-line", @readonly = true })
                                                                    @*<input type="email" style="background-color: white;" value="paranjsoni@yahoo.co.in" class="form-control form-control-line" name="email" id="example-email">*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label class="col-md-12">Additional Email</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.AdditionalEmail, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.AdditionalEmail, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Phone Number</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.MobileNumber, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label class="col-md-12">Additional Number</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.AdditionalMobileNumber, new { @class = "form-control form-control-line" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <div class="col-xs-6">
                                                                    <label class="col-sm-12">State</label>
                                                                    <div class="col-sm-12">
                                                                        @Html.DropDownListFor(m => m.State, Model.StateList, new { @id = "drpstate", @class = "form-control", @placeholder = "State" })
                                                                        @Html.ValidationMessageFor(x => x.State, string.Empty, new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <label class="col-sm-12">City</label>
                                                                    <div class="col-sm-12">
                                                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control form-control-line" })
                                                                        @Html.ValidationMessageFor(x => x.City, string.Empty, new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Zipcode</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.Zipcode, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Fax</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.FAX, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.FAX, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Dealership Address Line 1</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextAreaFor(m => m.DealershipAddressLine1, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.DealershipAddressLine1, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">Dealership Address Line 2</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextAreaFor(m => m.DealershipAddressLine2, new { @class = "form-control form-control-line" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12">License Number</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextAreaFor(m => m.LicenseNumber, new { @class = "form-control form-control-line" })
                                                                    @Html.ValidationMessageFor(x => x.LicenseNumber, string.Empty, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="example-email" class="col-md-12"></label>
                                                                <div class="col-md-12">
                                                                    @*@Html.TextAreaFor(m => m.DealershipAddressLine2, new { @class = "form-control form-control-line" })*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="raw form-group">
                                                        <div class="col-sm-12">
                                                            <input type="button" value="Update" name="signup" id="btnUpdateProfile" class="btn btn-success">
                                                            <input type="button" class="btn btn-danger" id="btnResetUpdateProfile" value="Cancel" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
