﻿@using Incite.Services.ViewModels
@model UpdateSettingsViewModel
@{
    ViewBag.Title = "Dealer Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Trialcars/css/bootstrap.min.css")
@Styles.Render("~/Content/css/font-awesome.min.css")
@Styles.Render("~/Assets/tooltip/css/icon.css")
@Styles.Render("~/Assets/tooltip/css/style.css")
@Scripts.Render("~/Assets/tooltip/js/popper.min.js")
<script src="~/Assets/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Styles.Render("~/Content/Trialcars/css/font-awesome.min.css")

<!--<script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-3.3.1.js")"></script>-->
@{

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<!--Page Header-->
<section class="page-header setting_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>My Setting</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>My Setting</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<!--<div class="modal-header">

    <h3 class="modal-title">My Settings</h3>
</div>-->
<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="row form-group">
                @{Html.RenderAction("UserPaymentSourceList", "Account"); }
            </div>
        </div>
    </div>
</section>
<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="row form-group">
                @{Html.RenderAction("UserConnectSourceList", "Account"); }
            </div>
        </div>
    </div>
</section>


<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="row form-group">
                @{Html.RenderAction("AddConnectAccounts", "Account"); }
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="AddbankAccountForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Add bank account Detail</h3>
            </div>
            <div id="dvBankAccountMsg" class="alert alert-info dvdismiss" style="display:none;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-12">
                            <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none;">
                            </div>
                            @using (Ajax.BeginForm("UpdateSettings", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { id = "UpdateSettingForm" }))
                            {

                                @Html.AntiForgeryToken()


                                <div class="col-md-12 col-sm-12">
                                    @Html.HiddenFor(m => m.CustomerEmailId)
                                    @Html.HiddenFor(m => m.AppUserId)

                                    <div class="form-group">
                                        <label class="col-md-12">Account Holder Name</label>
                                        @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.AccountHolderName, string.Empty, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Routing Number</label>

                                        @Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.RoutingNumber, string.Empty, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="example-email" class="col-md-10">Account Number</label>

                                        @Html.TextAreaFor(m => m.AccountNumber, new { @class = "form-control form-control-line" })
                                        @Html.ValidationMessageFor(x => x.AccountNumber, string.Empty, new { @class = "text-danger" })                                        
                                        <div class="col-md-2" style="float: right; padding: 20px 0 0 0;">
                                            <!-- button popover  -->
                                            <div class="popover-block-container">
                                                <button tabindex="0" type="button" class="popover-icon" data-popover-content="#unique-id" data-toggle="popover" data-placement="left">
                                                    <i class="material-icons">contact_support</i>
                                                </button>
                                                <div id="unique-id" style="display:none;">
                                                    <div class="popover-body" style="margin-right:50px;">
                                                        <button type="button" class="popover-close close">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero ipsum
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12"></label>
                                            <div class="col-md-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12"></label>
                                            <div class="col-md-12">
                                                @*@Html.TextAreaFor(m => m.DealershipAddressLine2, new { @class = "form-control form-control-line" })*@
                                            </div>
                                        </div>
                                        <div class="raw form-group">
                                            <input type="submit" value="Add Account" name="Add Account" class="btn btn-success">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    </div>
    <section class="listing-page">
        <div class="container">
            <div class="row">
                <div class="row form-group">
                    @{Html.RenderAction("VerifyBankAccount", "Account"); }
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">

        function OnSuccess(data) {
            //alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);
            alert(data.Message);
            window.location.href = '/Account/UpdateSettings';
        }

    </script>
    @Scripts.Render("~/Assets/tooltip/js/index.js")
