﻿@model Stripe.StripeList<Stripe.IPaymentSource>
@{

    Layout = null;
}
@if (Model == null || Model.Data == null || Model.Count() == 0)
{
    <div class="col-sm-12 text-right">
        <a href="#AddbankAccountForm" class="btn" data-toggle="modal" data-dismiss="modal">Buy Car-Add Bank Account</a>
    </div>
}
<div class="col-md-12 "><br /></div>
<div class="col-md-12 ">
    <div class="result-sorting-wrapper">
        @if (Model != null && Model.Data != null && Model.Count() > 0)
        {
            <table border="1" align="center">
                <tr><td colspan="5"><h5 class="modal-title">Added bank details to buy car</h5>  </td></tr>
                <tr>
                    <th>Account Name</th>
                    <th>Status</th>
                    <th>Bank Name</th>
                    <th>Routing Number </th>
                    <th>Account Number</th>
                </tr>
                @foreach (var account in Model)
                {

                    string status = "";
                    bool IsbankActive = false;
                    bool IsBankaccount = false;
                    string BankaccountId = "";
                    if (account.Object.Trim() == "bank_account")
                    {
                        IsBankaccount = true;
                        Stripe.BankAccount ba = (Stripe.BankAccount)account;
                        status = ba.Status;
                        BankaccountId = ba.Id;
                        if (status == "verified")
                        {
                            IsbankActive = true;
                        }



                        <tr>
                            <td>@account.Object</td>
                            <td>@status @if(@status.Trim() != "verified") { 
                                <div class="col-sm-12 text-right">
                                        <a href="#VerifybankAccountForm" class="btn" data-toggle="modal" data-dismiss="modal">Verify Bank Account</a>
                                </div> }
                            </td> 
                            <td>@ba.BankName</td>
                            <th>@ba.RoutingNumber</th>
                            <td>**********@ba.Last4  </td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <table border="1" align="center"> <tr> <td><b>No Account Found</b></td></tr></table>
        }
    </div>
</div>