﻿@model Incite.Services.ViewModels.DealerCommentNRatingViewModel

<div>
    @using (Ajax.BeginForm("AddUpdateCarComment", "DealerCar", new AjaxOptions { HttpMethod = "POST", OnSuccess = "addCommentSuccess", OnFailure = "alert('Error Occured while Rating.')" }))
    {
        @Html.HiddenFor(m => m.Rating, new { @id = "dealerCarRating" })
        @Html.HiddenFor(m => m.RatingForDealerId)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CommentReply)
        <!-- Rating Stars Box -->
        <div class='rating-stars'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
        <div>
            <div class="div-float-left">@Html.TextAreaFor(m => m.Comment, new { @rows = 2, @class = "form-control" })</div>
            <div class="comm_btn_div"><input type="submit" class="commentbtn btn" value="Go!"></div>
        </div>
        <div style="clear:both"></div>
    }
    <!--Display Dealer Car Comments-->
    <span class="CarCommentResult"></span>
    <!--/Display Dealer Car Comments-->
</div>
    

