﻿@model Incite.Core.Domain.AppUsers

<div class="modal fade" id="commentform">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Ratings</h3>
            </div>
            <div class="modal-body" style="max-height:450px;overflow-y:auto">
                <section>

                    @{
                        var currLoginUserId = Trialcar.Web.Infrastructure.Authentication.CurrentUserId.Value;
                        var topPaddingCls = "top-padding-rating";

                        <div class="rating-container div-float-left"></div>
                        <div class="div-clear">&nbsp;</div>

                        if (Model.DealerComments.Count > 0)
                        {

                            var currUserComment = Model.DealerComments.FirstOrDefault(x => x.appUsers.Id == currLoginUserId);
                            if (currUserComment != null)
                            {
                                //var userprofile=currUserComment.appUsers.Id.GetUserProfileByUserId();
                                var usrImg = currUserComment.appUsers.UserProfile.ProfileThmbnailImage;
                                
                                topPaddingCls = "top-padding-rating";
                                <div class="@topPaddingCls">
                                    @Html.Partial("_UserImagePartial", usrImg)
                                    
                                    <div class="div-inline">
                                        <div>@currUserComment.appUsers.UserName</div>
                                        @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id, Rating = currUserComment.Rating, Comment = currUserComment.Comment, CommentReply = currUserComment.CommentReply, Id = currUserComment.Id })

                                        @if (currUserComment.CommentReply != null)
                                        {
                                            var userprofile1 = Model.Id.GetUserProfileByUserId();
                                            usrImg = userprofile1.ProfileThmbnailImage;
                                            if (usrImg != "")
                                            {
                                                usrImg = usrImg.TrimStart(new char[] { '~' });
                                            }
                                            else
                                            {
                                                usrImg = "/Assets/images/default-user.png";
                                            }
                                            <img src="@usrImg" asp-append-version="true" class="rating-usr-img" />
                                            <div class="div-inline">@currUserComment.CommentReply</div>

                                        }
                                    </div>
                                </div>
                                <div class="div-clear">&nbsp;</div>
                            }
                            else
                            {
                                string usrImg = currLoginUserId.GetUserProfileByUserId().ProfileThmbnailImage;

                                if (Model.Id != currLoginUserId)
                                {
                                    <div class="@topPaddingCls">
                                        <div class="div-float-left">
                                            @Html.Partial("_UserImagePartial", usrImg)
                                        </div>
                                        <div class="div-inline">
                                            <div>@HttpContext.Current.User.Identity.Name</div>
                                            @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id })
                                        </div>
                                    </div>
                                    <div class="div-clear">&nbsp;</div>
                                }
                            }

                            foreach (var item in Model.DealerComments.Where(x => x.appUsers.Id != currLoginUserId))
                            {
                                //var userprofile2 = item.appUsers.Id.GetUserProfileByUserId();
                                var usrImg = item.appUsers.UserProfile.ProfileThmbnailImage;

                                <div class="@topPaddingCls">
                                    <div class="div-float-left">
                                        @Html.Partial("_UserImagePartial", usrImg)

                                    </div>
                                    <div class="div-inline">
                                        <div>@item.appUsers.UserName</div>
                                        <div class="rating-parent-div">
                                            <!-- Rating Stars Box -->
                                            <div class='rating-stars'>
                                                <ul>
                                                    @for (var i = 0; i < 5; i++)
                                                    {
                                                        if (i < item.Rating)
                                                        {
                                                            <li class='star selected'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class='star'>
                                                                <i class='fa fa-star fa-fw'></i>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                                @item.CreatedTs.ToShortDateString()
                                            </div>
                                        </div>
                                        <div>@item.Comment</div>
                                        @if (Model.Id == currLoginUserId)
                                        {
                                            //var userprofile3 = Model.Id.GetUserProfileByUserId();
                                            usrImg = Model.UserProfile.ProfileThmbnailImage;

                                            <a href="#" class="replyLink">Reply</a>
                                            <div class="commentReplyBlock">
                                                @Html.Partial("_UserImagePartial", usrImg)
                                                
                                                <div class="div-inline">@Html.Partial("_AddDealerCommentReply", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { Id = item.Id, CommentReply = item.CommentReply, Comment = item.Comment, Rating = item.Rating, CreatedTs = item.CreatedTs, RatingForDealerId = Model.Id, DealerId = item.appUsers.Id })</div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (item.CommentReply != null)
                                            {
                                                //var userprofile4 = Model.Id.GetUserProfileByUserId();
                                                usrImg = Model.UserProfile.ProfileThmbnailImage;
                                                @Html.Partial("_UserImagePartial", usrImg)
                                                <div class="div-inline">@item.CommentReply</div>

                                            }

                                        }
                                    </div>
                                </div>
                                <div class="div-clear">&nbsp;</div>
                                topPaddingCls = "top-padding-rating";
                            }

                        }
                        else
                        {
                            var appUsr = currLoginUserId.GetUserById();
                            //var userprofile5 = currLoginUserId.GetUserProfileByUserId();
                            var usrImg = appUsr.UserProfile.ProfileThmbnailImage;

                            if (Model.Id != currLoginUserId)
                            {
                                <div  class="@topPaddingCls">
                                    <div class="div-float-left">
                                        @Html.Partial("_UserImagePartial", usrImg)
                                    </div>
                                    <div class="div-inline">
                                        <div>@HttpContext.Current.User.Identity.Name</div>
                                        @Html.Partial("_AddDealerComment", new Incite.Services.ViewModels.DealerCommentNRatingViewModel { RatingForDealerId = Model.Id })
                                    </div>
                                </div>
                                <div class="div-clear">&nbsp;</div>
                            }
                            <span id="noRatingMsg">No rating yet.</span>
                        }
                    }

                </section>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/bundles/ModelPopUpScripts")

@Styles.Render("~/Assets/Trialcars/css/fxss-rate.css")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate-iconfont.js")
@Scripts.Render("~/Assets/Trialcars/js/fxss-rate.js")

@Styles.Render("~/Assets/Trialcars/css/rating_star.css")
@Scripts.Render("~/Assets/Trialcars/js/rating_star.js")