﻿@model Incite.Services.ViewModels.DealerCarViewModel
@{
    ViewBag.Title = "AddUpdateCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Content/fileinput.min.css" rel="stylesheet" />
<script src="~/Assets/Scripts/fileinput.min.js"></script>
<script src="~/Assets/Trialcars/js/Dealercar/AddUpdateCar.js"></script>
@Styles.Render("~/Assets/tooltip/css/icon.css")
@Styles.Render("~/Assets/tooltip/css/style.css")
@Scripts.Render("~/Assets/tooltip/js/popper.min.js")
@using (Html.BeginForm("AddUpdateCar", "DealerCar", FormMethod.Post, new { id = "frmAddCar", enctype = "multipart/form-data", autocomplete = "off" }))
{
    bool isEdit = false;
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.fueltype, new { @id = "hdnFueltypeId" })
    @Html.HiddenFor(m => m.transmision, new { @id = "hdnTransmissionId" })
    @Html.HiddenFor(m => m.EngineName, new { @id = "hdnEngineName"})
    @Html.HiddenFor(m => m.drivetrain, new { @id = "hdndrivetrainId" })
    @Html.HiddenFor(m => m.CarDetailId, new { @id = "hdnCarDetailId" })
    @Html.HiddenFor(m => m.Id)
   
    if (Model.Id > 0)
    {
        isEdit = true;
        @Html.Hidden("PreviousVIN", Model.vin)
    }
    <section class="listing-page gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="background-color: #00a8d9;">
                            <h4 style="color: white;">Add Car Info</h4>
                        </div>
                        <div class="box-header">
                            <div id="dvdismiss" class="alert alert-info dvdismiss" style="display:none;"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <h6 class="pull-right"> VIN</h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.vin, new { @id = "txtVin", @class = "form-control", @maxlength = "17" })
                                    @Html.ValidationMessageFor(x => x.vin, string.Empty, new { @class = "text-danger" })
                                </div>

                                @* <div class="col-lg-2" style="float: left; padding: 20px 0 0 0; width:0px;">
            <!-- button popover  -->
            <div class="popover-block-container">

                <button tabindex="0" type="button" class="popover-icon" data-popover-content="#unique-id" data-toggle="popover" data-placement="right">
                    <i class="material-icons" style="margin: -30px 0 0 -11px !important;">contact_support</i>
                </button>
                <div id="unique-id" style="display:none;">
                    <div class="popover-body" style="margin-left:50px; padding-left:100px;">
                        <button type="button" class="popover-close close">
                            <i class="material-icons">close</i>
                        </button>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero ipsum
                    </div>
                </div>
            </div>
        </div>
                                *@
                                <div class="col-sm-2" style="margin:0 0 0 8px;">
                                    <button class="btn" type="button" onclick="SearchVin(this)">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row form-group">

                                <div class="col-sm-2">
                                    <h6 class="pull-right">Select Brand</h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.carbrand
                                            , new SelectList(Model.CarbrandList, "Id", "Name",Model.CB)
                                            , "Select Brand"
                                            , new { @id = "drpCarbrand", @class = "form-control",@onchange= "fndrpCarbrandChange('drpCarModel','drpmodelyear','drptrimprop',this)" })
                                    @Html.ValidationMessageFor(x => x.carbrand, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-2">
                                    <h6 class="pull-right">Model Name </h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.carmodel
                                         ,  new SelectList(Model.CarModelList, "Id", "Name",Model.CM)
                                         , "Select Model"
                                         , new { @id = "drpCarModel", @class = "form-control", @onchange = "fndrpCarModelChange('drpCarbrand','drpmodelyear','drptrimprop',this)" })
                                    @Html.ValidationMessageFor(x => x.carmodel, string.Empty, new { @class = "text-danger" })
                                </div>


                            </div><!--row ends here-->

                            <div class="row form-group">


                                <div class="col-sm-2">
                                    <h6 class="pull-right">Model Year</h6>
                                </div>

                                <div class="col-sm-4">
                                    
                                    @Html.DropDownListFor(m => m.modelyear
                                         ,  new SelectList(Model.CarYearList, "Id", "Name",Model.modelyear)
                                         , "Select Year"
                                         , new { @id = "drpmodelyear", @class = "form-control", @onchange = "fndrpCarYearChange('drpCarbrand','drpCarModel','drpmodelyear','drptrimprop',this)" })
                                    @Html.ValidationMessageFor(x => x.modelyear, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-2">
                                    <h6 class="pull-right">Trim </h6>
                                </div>

                                <div class="col-xs-4 field">
                                    @Html.DropDownListFor(m => m.trimprop
                                      , Model.trimpropList
                                      ,"Select Trim"
                                      , new { @id = "drptrimprop", @class = "form-control", @onchange = "fndrpCarTrimPropChange('drpfueltype','drpdrivetrain','drptransmision',this)" })
                                    @Html.ValidationMessageFor(x => x.trimprop, string.Empty, new { @class = "text-danger" })
                                </div>

                            </div><!--row ends here-->

                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <h6 class="pull-right"> Car Title</h6>
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.title_type, Model.TitleTypeList, new { @id = "drptitle_type", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.title_type, string.Empty, new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    <h6 class="pull-right"> Car Condition</h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.carCondition_type, Model.CarConditionTypeList, new { @id = "drpcarcondition_type", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ownership_type, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div><!--row ends here-->






                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <h6 class="pull-right" style="margin-left: 15px;">Price Type</h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.price_type, Model.price_typeList,new { @id = "drpprice_type", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.price_type, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-2">
                                    <h6 class="pull-right"> Ownership Type</h6>
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(m => m.ownership_type, Model.CarTypeList, new { @id = "drpownership_type", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ownership_type, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div><!--row ends here-->

                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <h6 class="pull-right" style="margin-left: 15px;">Price(in USD)</h6>
                                </div>

                                <div class="col-sm-4 field">
                                    @Html.TextBoxFor(m => m.priceperday, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.priceperday, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-2">
                                    <h6 class="pull-right">Miles</h6>
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.miles, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.miles, string.Empty, new { @class = "text-danger" })
                                </div>

                            </div><!--row ends here-->

                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <h6 class="pull-right">Vehicle Overview</h6>
                                </div>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(m => m.vehicalorcview, new { @class = "form-control", rows = "6", cols = "10" })
                                    @Html.ValidationMessageFor(x => x.vehicalorcview, string.Empty, new { @class = "text-danger" })
                                </div>

                            </div>
                            <hr>
                            @{
                                int checkboxitemperline = 3; //staring from index 0
                            }
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="background-color: #00a8d9;">
                                    <h4 style="color: white;">ACCESSORIES</h4>
                                </div>

                                <div class="panel-body">
                                    @{int itemperrow = checkboxitemperline; }
                                    @for (int i = 0; i < Model.CarAccessoriesList.Count(); i++)
                                    {
                                        if (itemperrow == checkboxitemperline)
                                        {
                                            @:<div class="row form-group ">
                                                @:<div class="col-sm-1"></div>
                                                @:<div class="col-sm-10">
                                                }
                                                <label class="checkbox-inline fnt">
                                                    @Html.HiddenFor(x => Model.CarAccessoriesList[i].Value)
                                                    @Html.HiddenFor(x => Model.CarAccessoriesList[i].Text)

                                                    @Html.CheckBoxFor(x => Model.CarAccessoriesList[i].Selected)
                                                    @Html.DisplayFor(x => Model.CarAccessoriesList[i].Text)
                                                </label>

                                                if (itemperrow == 0)
                                                {
                                                    itemperrow = checkboxitemperline + 1;
                                                @:</div>
                                            @:</div>
                                        }
                                        itemperrow--;
                                    }
                                </div>
                            </div>
                            <div class="file-loading">
                                <input name="CarImages" id="kv-explorer" type="file" multiple>
                            </div>
                            @if (isEdit)
                            {
                                <input type="submit" name="submit" value="Update" id="btnsubmit" class="btn">
                                <input type="button" value="Cancel" class="btn" onclick="location.href = '/mygarage'">
                            }
                            else
                            {
                                <input type="submit" name="submit" value="Add" id="btnsubmit" class="btn">
                                <input type="reset" value="Reset" class="btn">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@{ if (Model.Id > 0)
    {

        var serverurl = Request.Url.Scheme + "://" + Request.Url.Authority + "/";
        <script>
            var jImages = [];
            var jFiles = [];
        </script>

        foreach (var displayimage in Model.DisplayCarImagesList)
        {
            var thumbpath = displayimage.ThumbImagePath.Replace("\\", "/");
            String[] splittedFileName = thumbpath.Split('/');
            String simpleFileName = splittedFileName[splittedFileName.Length - 1];

            <script>
                var image = new Object();
                image.caption = '@(simpleFileName)';
                image.key = '@(displayimage.Id)';
                jImages.push(image);

                //Fill jsFile Object
                jFiles.push('@(thumbpath)');
            </script>
        }

        <script>
            $(document).ready(function () {
                $("#kv-explorer").fileinput({
                    'theme': 'explorer-fa',
                    'uploadUrl': '#',
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    initialPreview: jFiles,
                    initialPreviewConfig: jImages,
                    showUpload: false,
                    fileActionSettings: {
                        showDrag: false,
                        showUpload: false,
                    },

                });
            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $("#kv-explorer").fileinput({
                    'theme': 'explorer-fa',
                    'uploadUrl': '#',
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    showUpload: false,
                    fileActionSettings: {
                        showDrag: false,
                        showUpload: false,
                    }
                });
            });
        </script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.kv-file-remove').on('click', function () {
            if (confirm("Are you sure you want to delete this file?")) {
                var imageDetail = $(this);
                var imageId = imageDetail[0].getAttribute("data-key");
                // alert(imageDetail[0].getAttribute("data-key"));
                $.ajax(
                    {
                        url: "/DealerCar/DeleteCarImage",
                        type: "POST",
                        data: JSON.stringify({ imageId: imageId }),
                        contentType: "application/json; charset=utf-8",
                        processData: false,
                        success: function (data) {
                            if (data != undefined && data != null) {
                                if (data.status) {
                                    $(".dvdismiss").show();
                                    $(".dvdismiss").html(data.message);
                                    window.location.href = window.location.href;
                                }
                                else {
                                    $(".dvdismiss").show();
                                    $(".dvdismiss").html(data.message)
                                }
                            }
                        },
                        error: function (data) {
                            $(".dvdismiss").show();
                            $(".dvdismiss").html(data.message)
                        }
                    });
            }

        });
    });
</script>
@Scripts.Render("~/Assets/tooltip/js/index.js")

