﻿@using Incite.Services.ViewModels
@model BuyNowHoldNowDetailViewModel

@{
    Layout = null;
}

@{

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<div class="col-md-12 col-sm-6">
    <div id="dvLoginMsg" class="alert alert-info dvdismiss" style="display:none;">
    </div>
    @using (Html.BeginForm("BuyNowHoldNowDetail", "DealerCar",FormMethod.Post, new { id = "BuyNowHoldNowDetailForm" }))
    {

        @Html.AntiForgeryToken()


        <div class="col-md-12 col-sm-6">

            @Html.HiddenFor(m => m.DealerCarDetailId)
            @Html.HiddenFor(m => m.IsOnHold)

            @if (Model.PaymentTypes != null)
            {

                <div class="form-group">
                    <label for="example-email" class="col-md-12">Payment Mode</label>
                    @Html.DropDownListFor(m => m.PaymentTypeId
                      , new SelectList(Model.PaymentTypes, "Id", "PaymentType", Model.PayId)
                      , "Select Payment Mode"
                      , new { @id = "drpPayment", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PaymentTypeId, string.Empty, new { @class = "text-danger" })
                </div>

            }
            <div class="raw form-group">
                <input type="button" onclick="buynowclick();"  value="Confirm"  name="bynowConfirm" class="btn btn-success"/>
            </div>
        </div>

    }
</div>






<script type="text/javascript">
    function buynowclick() {
        var fd = new FormData();
        var drppamentvalue = $("#drpPayment").val();
        var Delarcarid = $("#DealerCarDetailId").val();
        var ishold = $("#IsOnHold").val();
        if (drppamentvalue != "Select Payment Mode" && drppamentvalue != "" ) {
            fd.append("DealerCarDetailId", Delarcarid);
            fd.append("IsOnHold", ishold);
            fd.append("PaymentTypeId", drppamentvalue);
          
            $.ajax(
                {
                    
                    type: "POST",
                    url: "/Dealer/BuyNowHoldNowDetail",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        paymentsucess(data)
                    },
                    complete: function () {

                    }
                }
            );

        }
        else {
            alert("Select Payment Mode")
        }

    }
    function paymentsucess(data) {
        
        if (data.IsSuccess == true) {
            alert(data.Message);
            window.location.reload();
        }
        else {
            alert(data.Message);
        }
    }
</script>