﻿@model IList<Incite.Core.Domain.AppUsers>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int currLoginUserId = Trialcar.Web.Infrastructure.Authentication.CurrentUserId.Value;
    //var activeUsers = new List<string>();
}
@Styles.Render("~/Content/css/messages.css")
<link href="~/Content/Trialcars/css/font-awesome.min.css" rel="stylesheet" />
@*@Styles.Render("~/Content/Trialcars/css/bootstrap.min.css")*@
@Styles.Render("~/Content/css/font-awesome.min.css")
<script src="@Url.Content("~/Content/js/jquery-3.3.1.js")"></script>
<script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>

<!--Page Header--> 
<section class="page-header compare_page">
    
    <div class="container">

        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Messages</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="@Url.RouteUrl("HomeIndex")">Home</a></li>
                <li>Messages</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header -->
<section class="inner_pages">
    <div class="container">
        <div class="recent_heading text-center">
            <h4>Recent Chat</h4>
        </div>
        @if (Model.Count == 0)
        {
            <h5>No Recent Chat. Initiate your conversation from a car details page.</h5>
        }
        <div class="sidebar_message inbox_people text-center" id="users_listing_div">
            @*
            <div id="users" class="span2">
                <ul data-bind="foreach: users">
                    <li data-bind="click: setAsPrivateChat, css: { privateChatUser: isPrivateChatUser }">
                        <img src="/Assets/images/img_user_active.jpg" style="height:20px;width:20px">
                        &nbsp;<span data-bind="text: name"></span>
                    </li>
                </ul>
            </div>
            *@
            @foreach (var dealer in Model)
            {
                <div id="user_div_@dealer.UserName" class="message_user_div" onclick="populateMessages(@dealer.Id, this)">
                    <span name="@dealer.UserName" class="user_name_span"><img src="@Url.Content("/Assets/images/dealer-logo.jpg")" alt="User" class="user_image" />&nbsp;@dealer.UserName</span>
                </div>
                <div>&nbsp;</div>
            }
        </div>
        <div class="message_content">
            <div id="msg_content_div">&nbsp;</div>
            <div style="clear:both">&nbsp;</div>

        </div>
        <div class="send_msg_form_div right_input_text" id="send_msg_frm_div">
            <form id="frmSendMessage">
                <div class="msg_div">
                    <div style="display: flex;"><input type="text" id="msg_txt_usr" name="message" class="msg_text_div" autofocus><input type="button" id="msg_submit_btn" value="" class="msg_btn"></div>
                </div>
                @Html.Hidden("toDealerId")
                @Html.Hidden("fromAction", "PopulateMessages")
            </form>
        </div>
        <div style="clear:both">&nbsp;</div>
    </div>
</section>


<!--Reference the autogenerated SignalR hub script.
    <script src="/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="/signalr/hubs"></script>
-->
@Styles.Render("~/Assets/Trialcars/css/messages.css")
