﻿@model Tuple<Incite.Core.Domain.AppUsers, IList<Incite.Core.Domain.DealerMessages>>
@{
    Layout = null;
    int currLoginUserId = Trialcar.Web.Infrastructure.Authentication.CurrentUserId.Value;
    //string userName = "";
    bool isLastSender = false;
    string usrTimeTo = "~", usrTimeFrom = "~", altUsrNm = "~";

    string usrImg = "~";

}
<script type="text/javascript">
        $(document).ready(function () {

            $("#toDealerId").val(@Model.Item1.Id);
        });
</script>
@Html.Hidden("sender_uname", Model.Item1.UserName)
@Html.Hidden("sender_img_src", usrImg)
@Html.Hidden("sender_alt_txt", altUsrNm)
@foreach (var message in Model.Item2)
{

    if (message.FromDealerId == currLoginUserId)
    {

<div class="msg_right_div msg_top_div">
    <div class="msg_div right_msg">@message.Message</div>
    @if (usrTimeFrom != message.CreatedTs.ToShortTimeString())
    {
    <div class="float_right">@message.CreatedTs.ToShortDateString(),&nbsp;@message.CreatedTs.ToShortTimeString()</div>
    }
</div>
        usrTimeFrom = @message.CreatedTs.ToShortTimeString();
        isLastSender = false;
    }
    else
    {
        <div class="msg_left_div msg_top_div">
            @if (!isLastSender)
            {
            <div class="msg_img_div">
                <div class="disp_inline">&nbsp;</div>
                @if (usrImg != "")
                {
                    <img src="@Url.Content("/Assets/images/dealer-logo.jpg")" alt="User" class="user_image" />
                }
                else
                {
                    <div class="alt_usr_img">@altUsrNm</div>
                }
            </div>

            }
            else
            {
                <div class="float_left width50">&nbsp;</div>
            }
                <div class="disp_inline">
                    <div class="msg_div left_msg">@message.Message</div>
                    @if (usrTimeTo != message.CreatedTs.ToShortDateString())
                    {
                    <div>@*@message.fromDealer.UserName,*@&nbsp;@message.CreatedTs.ToShortDateString(),&nbsp;@message.CreatedTs.ToShortTimeString()</div>
                    }
                </div>
        </div>
        usrTimeTo = message.CreatedTs.ToShortDateString();
        isLastSender = true;
    }

}
@Html.Hidden("usrTimeTo", usrTimeTo)
@Html.Hidden("usrTimeFrom", usrTimeFrom)

